@{
    Layout = "";
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Standing</title>
    <link rel="stylesheet" type="text/css" href="/css/regularSeason.css" />
</head>
<body>
    <div id="centralDivision" class="topThreeInDivision">
        <div class="central1 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>

        <div class="central2 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>

        <div class="central3 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>
    </div>

    <div id="pacificDivision" class="topThreeInDivision">
        <div class="pacific1 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>

        <div class="pacific2 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>

        <div class="pacific3 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>
    </div>

    <div id="wildcard" class="wildcard">
        <div class="wildCard1 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>

        <div class="wildCard2 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>

        <div class="wildCard3 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>

        <div class="wildCard4 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>

        <div class="wildCard5 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>

        <div class="wildCard6 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>

        <div class="wildCard7 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>

        <div class="wildCard8 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>

        <div class="wildCard9 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>

        <div class="wildCard10 teamDiv">
            <img class="logo" />
            <h1  class="name"></h1>
			<h1  class="clinchIndicator"></h1>
            <h1  class="gamesPlayed"></h1>
            <h1  class="points"></h1>
        </div>
    </div>

    <script src="/js/regularSeason.js"> </script>
</body>
</html>