@{
    Layout = "_Dashboard";
    string ConferenceName = (string)ViewData["Conference"]!;
    ViewData["Logo"] = $"/images/{ConferenceName}ConferenceLogo.png";

    var SeriesLetters = new OrderedDictionary<string, List<string>>()
    {
        {"round-one", ConferenceName.Equals("Western") ? ["e", "f", "g", "h"] : ["a", "b", "c", "d"]},
        {"round-two", ConferenceName.Equals("Western") ? ["k", "l"] : ["i", "j"]},
        {"round-three", ConferenceName.Equals("Western") ? ["n"] : ["m"]}
    };
}

@foreach (var round in SeriesLetters.Keys)
{
    <div id="@round">
        @foreach (var series in SeriesLetters[round])
        {
            <div id="series-@(series)" class="series">
                @foreach(var team in new string[] {"top-team", "bot-team"})
                {
                    <div class="@team">
                        <img class="logo" />
                        <div class="wins resize-text"></div>
                    </div>
                }
            </div>
        }
    </div>
}

<script>
    const reloadData = async () => {
        await getData();
        resizeText();
    };
    window.addEventListener("load", reloadData);
    window.addEventListener("load", resizeText);
    window.addEventListener("resize", resizeText);
    setInterval(reloadData, 1800000);
</script>