@{
    ViewData["Title"] = "Playoff Bracket";
}

<h1>@ViewData["Title"]</h1>
<a asp-area="" asp-action="Western">Western Conference Bracket</a>
<br />
<a asp-area="" asp-action="Eastern">Eastern Conference Bracket</a>