@{
    ViewData["Title"] = "Playoff Bracket";
}

<h1>@ViewData["Title"]</h1>
<a asp-area="" asp-action="WesternConference">Western Conference Bracket</a>
<br />
<a asp-area="" asp-action="EasternConference">Eastern Conference Bracket</a>
<br />
<a asp-area="" asp-action="ConferenceFinals">Conference Finals</a>
<br />
<a asp-area="" asp-action="StanleyCupFinal">Stanley Cup</a>