@{
    ViewData["Title"] = "Regular Season Standings";
}

<h1>@ViewData["Title"]</h1>
<a asp-area="" asp-action="Western">Western Conference Standings</a>
<br />
<a asp-area="" asp-action="Eastern">Eastern Conference Standings</a>