@{
    Layout = "";
    string ConferenceName = "Western";
    @* string topDivisionName = "central";
    string botDivisionName = "pacific"; *@
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/playGround.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <script src="/js/resizeText.js"></script>
    <style id="dynamicStyle"></style>
</head>

<body>
    <div id="title">
        <img src="/images/@(ConferenceName)ConferenceLogo.png">
        <div class="centered-text resize-text">@ConferenceName Conference Standings</div>
    </div>

    <div id="playoff-teams">
        @{
            string[] divs = ["top-division", "bot-division", "wildcards"];
            foreach(var div in divs)
            {
                int max = div != "wildcards" ? 3 : 2;
                <div id="@div">
                    @for(int i=1; i<=max; i++) {
                        <div id="@i" class="team-div">
                            @* <img class="logo" />
                            <h1  class="name"></h1>
                            <h1  class="clinchIndicator"></h1>
                            <h1  class="gamesPlayed"></h1>
                            <h1  class="points"></h1> *@
                        </div>
                    }
                </div>
            }
        }
        @* <div id="top-division"></div>
        <div id="bot-division"></div>
        <div id="wildcards"></div> *@
    </div>
    <div id="outside-teams">
        @for(int i=9; i<=16; i++) {
            <div id="@i" class="team-div">
                @* <img class="logo" />
                <h1  class="name"></h1>
                <h1  class="clinchIndicator"></h1>
                <h1  class="gamesPlayed"></h1>
                <h1  class="points"></h1> *@
            </div>
        }
    </div>

    <script>
        function resizeTeams() {
            if (window.innerHeight / window.innerWidth > 1) {
                document.getElementById("dynamicStyle").innerHTML = `
                    #playoff-teams, #outside-teams {
                        height: 44%;
                        width: 100%;
                    }
                `;
            } else {
                document.getElementById("dynamicStyle").innerHTML = `
                    #playoff-teams, #outside-teams {
                        height: 88%;
                        width: 50%;
                    }
                `;
            }
        }

        function resizeAll() {
            resizeTeams();
            resizeText();
        }
        window.onload = resizeAll;
        window.onresize = resizeAll;
    </script>
</body>