:root {
    --primaryColor: lightblue;
    --secondaryColor: lightgreen;
    --rootTeamDivSize: 10%;
}

body {
    /* Position/Size settings */
    position: relative;
    left: 1vw;
    top: 1vh;
    width: 98vw;
    height: 98vh;
    margin: 0px;
    /* Font settings */
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    /* Flex settings */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    background-color: black;
    /* outline: 2px solid white; */ /* CSS help */
}

#title {
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#title > img {
    height: 100%;
    max-width: 40%;
    object-fit: contain;
}

#title > div {
    height: 100%;
}

.standing-section-horizontal {
    height: 88%;
    width: 50%;
}

.standing-section-vertical {
    height: 44%;
    width: 100%;    
}

#playoff-teams {
    background-color: var(--primaryColor);
}

#outside-teams {
    background-color: var(--secondaryColor);
}

.teams {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

#top-division, #bot-division {
    height: 37.5%;
}

#wildcards {
    height: 25%;
}

.team-div > *, .team-info > * {
    margin: 0px;

}

#top-division > .team-div, #bot-division > .team-div {
    height: calc(var(--rootTeamDivSize) * 8 / 3);
}

#wildcards > .team-div {
    height: calc(var(--rootTeamDivSize) * 8 / 2);
}

.teams > .team-div {
    height: var(--rootTeamDivSize);
}


.team-div {
    outline: 0.2vw solid darkblue; /* CSS help */
    border-radius: .5vw;
    display: flex;
    align-items: center;
}

.team-info {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
}

.name {
    max-width: 69%;
    max-height: 100%;
}

.logo {
    max-height: 96%;
    max-width: 25%;
    object-fit: contain;
}

.clinchIndicator {
    width: 6%;
    text-align: right;
}

.gamesPlayed, .points {
    width: 15%;
    display: flex;
    justify-content: center;
}