:root {
    --seriesHeight: 98%;
    --titleHeight: 15%;
}

.title {
    height: var(--titleHeight);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.title-text {
    max-height: 100%;
    max-width: 90%;
    text-align: center;
    align-content: center;
}


main {
    position: relative;
    width: 100%;
    height: calc(100% - var(--titleHeight));
}

#western-conference,
#eastern-conference {
    width: 45%;
    height: 98%;
    position: absolute;
}

#western-conference {
    left: 0px;
}

#eastern-conference {
    right: 0px;
}

.series {
    height: var(--seriesHeight);
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.top-team,
.bot-team {
    height: 49%;
    width: 100%;
    position: absolute;
    outline: 0.2vw solid white;
    border-radius: 1vw;
    display: flex;
}

.top-team {
    top: 0px;
}

.bot-team {
    bottom: 0px;
}

@media (orientation: landscape) {
    .top-team,
    .bot-team {
        align-items: center;
    }
    .wins {
        max-height: 100%;
        width: 25%;
        text-align: center;
    }

    .logo {
        max-height: 100%;
        max-width: 75%;
    }
}

@media (orientation: portrait) {
    .top-team,
    .bot-team {
        justify-content: center;
    }

    .wins,
    .logo {
        max-height: 50%;
        max-width: 100%;
    }

    .wins {
        text-align: center;
        position: absolute;
        bottom: 0px;
    }
}


.series-loser {
    opacity: 0.3;
}